.jumbotron {
  background-color: #AAAAAA;
  height: 150px;
  margin-top: 50px;
  margin-bottom: 50px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #AAAAAA;
  margin-bottom: 0px;
  margin-top: 10px; }

.card-hotel {
  flex: 1 150px;
  padding: 2px 2px 2px 2px; }

.card-game {
  flex: 1 150px;
  padding: 2px 2px 2px 2px; }

.btn-reserva {
  width: 100%;
  position: absolute; }
