@yellow: #FFFFFF;

.margenes(@top: 0px, @bottom: 0px){
    margin-top: @top;
    margin-bottom: @bottom;
}


.jumbotron {
    background-color: @yellow;
    height: 150px;
    .margenes(50px, 0px) }
  
  footer {
    padding: 10px 10px 0 10px;
    background-color: @yellow;
    margin-bottom: 0px;
    margin-top: 10px; }
  
  .card-hotel {
    flex: 1 150px;
    padding: 2px 2px 2px 2px; }
  
  .card-game {
    flex: 1 150px;
    padding: 2px 2px 2px 2px; }
  
  .btn-reserva {
    width: 100%;
    position: absolute; }